<!DOCTYPE html>
<html>
<head>
	<title>Footer</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <footer class="site-footer" style="margin-top: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>About</h6>
            <p class="text-justify">HAI PHONG MUSIC is an initiative to help music lovers and have a passion for vinyl records. HAI PHONG MUSIC focuses on providing the best quality of music and purchases. We will help you relax with music and have many memories with our recordings.</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="/YourAlbum">Your Album</a></li>
              <li><a href="/ViewAlbum">All Album</a></li>
              <li> <a href="/NewAlbum">New Album</a></li>
              <li><a href="/ViewHotAlbum">Hot Album</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><a href="/ViewMusic">All song</a></li>
              <li><a href="/MusicChart">Song charts</a></li>
              <li><a href="/MusicPurchaseHistory">Music purchase history</a></li>
              <li><a href="/Contact">Booking & contact</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container" style="margin-bottom: 100px;">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
             <a href="#"></a>
           </p>
         </div>

         <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/profile.php?id=100043804412420"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://www.instagram.com/phong_1224"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>