<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		.linkToolbar
		{
			color: white !important;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 80px; background-color: #ED524D !important;">
		<div class="container-xl">
			<a class="navbar-brand linkToolbar" href="\">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav" style="width: 80%;">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #ED524D !important;border-color: #ED524D !important;">
							Album
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" href="#" onclick="YourAlbum()">Your Album</a>
							<a class="dropdown-item" href="/ViewAlbum">All Album</a>
							<a class="dropdown-item" href="/NewAlbum">New Album</a>
							<a class="dropdown-item" href="/ViewHotAlbum">Hot Album</a>
						</div>
						<script>
							function YourAlbum()
							{
								location.href = "/YourAlbum?page="+location.href;
							}
						</script>
					</div>
					<a class="nav-item nav-link linkToolbar" href="/ViewMusic">All song</a>
					<a class="nav-item nav-link linkToolbar" href="/MusicChart">Song charts</a>
					<a class="nav-item nav-link linkToolbar" href="/Contact">Booking & contact</a>
				</div>
				<div class="navbar-nav" style="width: 20%;">
					<a class="nav-item nav-link linkToolbar" onclick="login()" style="cursor: pointer;">Login</a>
					<a class="nav-item nav-link linkToolbar" href="\signUpInterface">Sign up</a>
				</div>
			</div>
		</div>
	</nav>
	<span class="glyphicon glyphicon-shopping-cart"></span>
</body>
<script>
	function login()
	{
		location.href = "/login?page="+location.href;
	}
</script>
</html>